<div class="container-xxl text-light">

    <div class="header">

        <ul class="header__item"><a href="#" class="text-light"><span class="oi oi-home"></span></a></ul>

        <ul class="header__item">
            <li><a class="text-light" href="/thoi-su">Thời sự</a></li>
            <li><a class="text-light" href="/thoi-su/chinh-tri">Chính trị</a></li>
            <li><a class="text-light" href="/thoi-su/dai-hoi-XIII">Đại hội XIII</a></li>
            <li><a class="text-light" href="/thoi-su/Mekong">Mekong</a></li>
            <li><a class="text-light" href="/thoi-su/dan-sinh">Dân sinh</a></li>
            <li><a class="text-light" href="/thoi-su/quy-hy-vong">Quỹ hy vọng</a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="/goc-nhin">Góc nhìn</a></li>
            <li><a class="text-light" href="/goc-nhin/covid-19">Covid 19</a></li>
            <li><a class="text-light" href="/goc-nhin/chinh-tri-chinh-sach">Chính trị & chính sách</a></li>
            <li><a class="text-light" href="/goc-nhin/y-te-suc-khoe">Y tế & sức khỏe</a></li>
            <li><a class="text-light" href="/goc-nhin/kinh-doanh-quan-tri">Kinh doanh & quản trị</a></li>
            <li><a class="text-light" href="/goc-nhin/giao-duc-tri-thuc">Giáo dục & tri thức</a></li>
            <li><a class="text-light" href="/goc-nhin/moi-truong">Môi trường</a></li>
            <li><a class="text-light" href="/goc-nhin/van-hoa-loi-song">Văn hóa & lối sống</a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="/the-gioi">Thế giới </a></li>
            <li><a class="text-light" href="/the-gioi/tu-lieu">Tư liệu </a></li>
            <li><a class="text-light" href="/the-gioi/phan-tich">Phân tích </a></li>
            <li><a class="text-light" href="/the-gioi/nguoi-viet-5-chau">Người việt 5 châu </a></li>
            <li><a class="text-light" href="/the-gioi/cuoc-song-do-day">Cuộc sống đó đây </a></li>
            <li><a class="text-light" href="/the-gioi/quan-su">Quân sự </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="/video">Video </a></li>
            <li><a class="text-light" href="/video/thoi-su">Thời sự </a></li>
            <li><a class="text-light" href="/video/nhip-song">Nhịp sống </a></li>
            <li><a class="text-light" href="/video/sports-life">sports life </a></li>
            <li><a class="text-light" href="/video/food">Food </a></li>
            <li><a class="text-light" href="/video/cuoc-song-4.0">Cuộc sống 4.0 </a></li>
            <li><a class="text-light" href="/video/toi-ke">Tôi kể </a></li>
            <li><a class="text-light" href="/video/chuyen-nui-rung">Chuyện núi rừng </a></li>
            <li><a class="text-light" href="/video/toa-dam-kinh-te">Tọa đàm kinh tế </a></li>
            <li><a class="text-light" href="/video/giai-tri">Giải trí </a></li>
            <li><a class="text-light" href="/video/du-lich">Du lịch </a></li>
            <li><a class="text-light" href="/video/the-gioi">Thế giới </a></li>
            <li><a class="text-light" href="/video/phap-luat">Pháp luật </a></li>
            <li><a class="text-light" href="/video/kinh-doanh">Kinh doanh </a></li>
            <li><a class="text-light" href="/video/khoa-hoc">Khoa học </a></li>
            <li><a class="text-light" href="/video/giao-duc">Giáo dục </a></li>
            <li><a class="text-light" href="/video/suc-khoe">Sức khỏe </a></li>


        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Kinh doanh</a></li>
            <li><a class="text-light" href="">Quốc tế </a></li>
            <li><a class="text-light" href="">Doanh nghiệp </a></li>
            <li><a class="text-light" href="">Chứng khoán </a></li>
            <li><a class="text-light" href="">Bất động sản </a></li>
            <li><a class="text-light" href="">Ebank </a></li>
            <li><a class="text-light" href="">Vĩ mô </a></li>
            <li><a class="text-light" href="">Tiền của tôi </a></li>
            <li><a class="text-light" href="">Bảo hiểm </a></li>
            <li><a class="text-light" href="">Hàng hóa </a></li>
            <li><a class="text-light" href="">Startup </a></li>
            <li><a class="text-light" href="">E-commerce 4.0</a></li>
            <li><a class="text-light" href="">Vhome</a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Khoa học </a></li>
            <li><a class="text-light" href=""> Tin tức</a></li>
            <li><a class="text-light" href="">Phát minh </a></li>
            <li><a class="text-light" href="">Ứng dụng </a></li>
            <li><a class="text-light" href="">Thế giới tự nhiên </a></li>
            <li><a class="text-light" href="">Thường thức </a></li>
            <li><a class="text-light" href="">Khoa học trong nước </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Giải trí </a></li>
            <li><a class="text-light" href="">Giới sao </a></li>
            <li><a class="text-light" href="">Video </a></li>
            <li><a class="text-light" href="">Phim </a></li>
            <li><a class="text-light" href="">Nhạc </a></li>
            <li><a class="text-light" href="">Thời trang </a></li>
            <li><a class="text-light" href="">Làm đẹp </a></li>
            <li><a class="text-light" href="">Sách </a></li>
            <li><a class="text-light" href="">Sân khấu - Mỹ thuật </a></li>
            <li><a class="text-light" href=""> </a></li>
            <li><a class="text-light" href=""> </a></li>
            <li><a class="text-light" href=""> </a></li>
        </ul> 

        <ul class="header__item">
            <li><a class="text-light" href="">Thể thao </a></li>
            <li><a class="text-light" href="">Video </a></li>
            <li><a class="text-light" href="">Bóng đá </a></li>
            <li><a class="text-light" href="">Lịch thi đấu </a></li>
            <li><a class="text-light" href="">V-League </a></li>
            <li><a class="text-light" href="">Tennis </a></li>
            <li><a class="text-light" href="">VM 2021 </a></li>
            <li><a class="text-light" href="">Các môn khác </a></li>
            <li><a class="text-light" href="">Olympic Tokyo 2020 </a></li>
            <li><a class="text-light" href="">World Cup 2022 </a></li>
            <li><a class="text-light" href="">Hậu trường </a></li>
            <li><a class="text-light" href="">Ảnh</a></li>
            <li><a class="text-light" href="">Tường thuật </a></li>
            <li><a class="text-light" href="">V-Race </a></li>
            <li><a class="text-light" href="">Trắc nghiệm </a></li>

        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Pháp luật </a></li>
            <li><a class="text-light" href="">Hồ sơ phá án </a></li>
            <li><a class="text-light" href="">Tư vấn </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Giáo dục </a></li>
            <li><a class="text-light" href="">Tuyển sinh </a></li>
            <li><a class="text-light" href="">Điểm thi </a></li>
            <li><a class="text-light" href="">Tra cứu đại học </a></li>
            <li><a class="text-light" href="">Du học </a></li>
            <li><a class="text-light" href="">Học tiếng Anh </a></li>
            <li><a class="text-light" href="">Trắc nghiệm </a></li>
            <li><a class="text-light" href="">Giáo dục 4.0 </a></li>
            <li><a class="text-light" href="">Debate </a></li>
            <li><a class="text-light" href="">Đấu trường toán học </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Sức khỏe </a></li>
            <li><a class="text-light" href="">Tin tức </a></li>
            <li><a class="text-light" href="">Tư vấn </a></li>
            <li><a class="text-light" href="">Dinh dưỡng </a></li>
            <li><a class="text-light" href="">Khỏe đẹp </a></li>
            <li><a class="text-light" href="">Đàn ông </a></li>
            <li><a class="text-light" href="">Các bệnh </a></li>
            <li><a class="text-light" href="">Ung thư </a></li>
            <li><a class="text-light" href="">Vaccine </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Đời sống </a></li>
            <li><a class="text-light" href="">Tổ ấm </a></li>
            <li><a class="text-light" href="">Bài học sống </a></li>
            <li><a class="text-light" href="">Nhà </a></li>
            <li><a class="text-light" href="">Tiêu dùng </a></li>
            <li><a class="text-light" href="">Cooking </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Du lịch </a></li>
            <li><a class="text-light" href="">Điểm đến </a></li>
            <li><a class="text-light" href="">Dấu chân </a></li>
            <li><a class="text-light" href="">Tư vấn </a></li>
            <li><a class="text-light" href="">Safe Go </a></li>
            <li><a class="text-light" href="">Ảnh </a></li>
            <li><a class="text-light" href="">Ăn và chơi </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Số hóa </a></li>
            <li><a class="text-light" href="">Công nghệ </a></li>
            <li><a class="text-light" href="">Sản phẩm </a></li>
            <li><a class="text-light" href="">Diễn đàn </a></li>
            <li><a class="text-light" href="">Sản Phẩm Tôi Yêu </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Xe </a></li>
            <li><a class="text-light" href="">Thị trường </a></li>
            <li><a class="text-light" href="">Tư vấn </a></li>
            <li><a class="text-light" href="">Diễn đàn </a></li>
            <li><a class="text-light" href="">Đánh giá </a></li>
            <li><a class="text-light" href="">Video </a></li>
            <li><a class="text-light" href="">Bảng giá ôtô </a></li>
            <li><a class="text-light" href="">Xe điện </a></li>
            <li><a class="text-light" href="">Cẩm nang mua xe </a></li>
            <li><a class="text-light" href="">Thi bằng lái </a></li>
            <li><a class="text-light" href="">Mua bán </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Ý kiến </a></li>
            <li><a class="text-light" href="">Thời sự </a></li>
            <li><a class="text-light" href="">Đời sống </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Tâm sự </a></li>
            <li><a class="text-light" href="">Chuyên gia gỡ rối </a></li>
            <li><a class="text-light" href="">Hẹn hò </a></li>
        </ul>

        <ul class="header__item">
            <li><a class="text-light" href="">Hài </a></li>
            <li><a class="text-light" href="">Cười </a></li>
            <li><a class="text-light" href="">Đố vui </a></li>
            <li><a class="text-light" href="">Chuyện lạ </a></li>
            <li><a class="text-light" href="">Thú cưng </a></li>
        </ul>

    </div>
</div