<div class="container-xxl  fw-light">

    <div class="header">

        <ul class="header__item"><a href="#" class=""><span class="oi oi-home"></span></a></ul>

        <ul class="header__item">
            <li><a class="" href="/thoi-su">Thời sự</a></li>
            <div>
                <li><a class="" href="/thoi-su/chinh-tri">Chính trị</a></li>
                <li><a class="" href="/thoi-su/dai-hoi-XIII">Đại hội XIII</a></li>
                <li><a class="" href="/thoi-su/Mekong">Mekong</a></li>
                <li><a class="" href="/thoi-su/dan-sinh">Dân sinh</a></li>
                <li><a class="" href="/thoi-su/quy-hy-vong">Quỹ hy vọng</a></li>
            </div>
        </ul>

        <ul class="header__item">
            <li><a class="" href="/goc-nhin">Góc nhìn</a></li>
            <div>
                <li><a class="" href="/goc-nhin/covid-19">Covid 19</a></li>
                <li><a class="" href="/goc-nhin/chinh-tri-chinh-sach">Chính trị & chính sách</a></li>
                <li><a class="" href="/goc-nhin/y-te-suc-khoe">Y tế & sức khỏe</a></li>
                <li><a class="" href="/goc-nhin/kinh-doanh-quan-tri">Kinh doanh & quản trị</a></li>
                <li><a class="" href="/goc-nhin/giao-duc-tri-thuc">Giáo dục & tri thức</a></li>
                <li><a class="" href="/goc-nhin/moi-truong">Môi trường</a></li>
                <li><a class="" href="/goc-nhin/van-hoa-loi-song">Văn hóa & lối sống</a></li>
            </div>           
        </ul>

        <ul class="header__item">
            <li><a class="" href="/the-gioi">Thế giới</a></li>
            <div>
                <li><a class="" href="/the-gioi/tu-lieu">Tư liệu </a></li>
                <li><a class="" href="/the-gioi/phan-tich">Phân tích </a></li>
                <li><a class="" href="/the-gioi/nguoi-viet-5-chau">Người việt 5 châu </a></li>
                <li><a class="" href="/the-gioi/cuoc-song-do-day">Cuộc sống đó đây </a></li>
                <li><a class="" href="/the-gioi/quan-su">Quân sự </a></li>
            </div>          
        </ul>

        <ul class="header__item">
            <li><a class="" href="/video">Video </a></li>
            <div>
                <li><a class="" href="/video/thoi-su">Thời sự </a></li>
                <li><a class="" href="/video/nhip-song">Nhịp sống </a></li>
                <li><a class="" href="/video/sports-life">sports life </a></li>
                <li><a class="" href="/video/food">Food </a></li>
                <li><a class="" href="/video/cuoc-song-4.0">Cuộc sống 4.0 </a></li>
                <li><a class="" href="/video/toi-ke">Tôi kể </a></li>
                <li><a class="" href="/video/chuyen-nui-rung">Chuyện núi rừng </a></li>
                <li><a class="" href="/video/toa-dam-kinh-te">Tọa đàm kinh tế </a></li>
                <li><a class="" href="/video/giai-tri">Giải trí </a></li>
                <li><a class="" href="/video/du-lich">Du lịch </a></li>
                <li><a class="" href="/video/the-gioi">Thế giới </a></li>
                <li><a class="" href="/video/phap-luat">Pháp luật </a></li>
                <li><a class="" href="/video/kinh-doanh">Kinh doanh </a></li>
                <li><a class="" href="/video/khoa-hoc">Khoa học </a></li>
                <li><a class="" href="/video/giao-duc">Giáo dục </a></li>
                <li><a class="" href="/video/suc-khoe">Sức khỏe </a></li>
            </div>         
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Kinh doanh</a></li>
            <div>
                <li><a class="" href="">Quốc tế </a></li>
                <li><a class="" href="">Doanh nghiệp </a></li>
                <li><a class="" href="">Chứng khoán </a></li>
                <li><a class="" href="">Bất động sản </a></li>
                <li><a class="" href="">Ebank </a></li>
                <li><a class="" href="">Vĩ mô </a></li>
                <li><a class="" href="">Tiền của tôi </a></li>
                <li><a class="" href="">Bảo hiểm </a></li>
                <li><a class="" href="">Hàng hóa </a></li>
                <li><a class="" href="">Startup </a></li>
                <li><a class="" href="">E-commerce 4.0</a></li>
                <li><a class="" href="">Vhome</a></li>
            </div>
            
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Khoa học </a></li>
            <div>
                <li><a class="" href=""> Tin tức</a></li>
                <li><a class="" href="">Phát minh </a></li>
                <li><a class="" href="">Ứng dụng </a></li>
                <li><a class="" href="">Thế giới tự nhiên </a></li>
                <li><a class="" href="">Thường thức </a></li>
                <li><a class="" href="">Khoa học trong nước </a></li>
            </div>          
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Giải trí </a></li>
            <div>
                <li><a class="" href="">Giới sao </a></li>
            <li><a class="" href="">Video </a></li>
            <li><a class="" href="">Phim </a></li>
            <li><a class="" href="">Nhạc </a></li>
            <li><a class="" href="">Thời trang </a></li>
            <li><a class="" href="">Làm đẹp </a></li>
            <li><a class="" href="">Sách </a></li>
            <li><a class="" href="">Sân khấu - Mỹ thuật </a></li>
            <li><a class="" href=""> </a></li>
            <li><a class="" href=""> </a></li>
            <li><a class="" href=""> </a></li>
            </div>            
        </ul> 

        <ul class="header__item">
            <li><a class="" href="">Thể thao </a></li>
            <div>
                <li><a class="" href="">Video </a></li>
                <li><a class="" href="">Bóng đá </a></li>
                <li><a class="" href="">Lịch thi đấu </a></li>
                <li><a class="" href="">V-League </a></li>
                <li><a class="" href="">Tennis </a></li>
                <li><a class="" href="">VM 2021 </a></li>
                <li><a class="" href="">Các môn khác </a></li>
                <li><a class="" href="">Olympic Tokyo 2020 </a></li>
                <li><a class="" href="">World Cup 2022 </a></li>
                <li><a class="" href="">Hậu trường </a></li>
                <li><a class="" href="">Ảnh</a></li>
                <li><a class="" href="">Tường thuật </a></li>
                <li><a class="" href="">V-Race </a></li>
                <li><a class="" href="">Trắc nghiệm </a></li>
            </div>
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Pháp luật </a></li>
            <div>
                <li><a class="" href="">Hồ sơ phá án </a></li>
                <li><a class="" href="">Tư vấn </a></li>
            </div>         
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Giáo dục </a></li>
            <div>
                <li><a class="" href="">Tuyển sinh </a></li>
                <li><a class="" href="">Điểm thi </a></li>
                <li><a class="" href="">Tra cứu đại học </a></li>
                <li><a class="" href="">Du học </a></li>
                <li><a class="" href="">Học tiếng Anh </a></li>
                <li><a class="" href="">Trắc nghiệm </a></li>
                <li><a class="" href="">Giáo dục 4.0 </a></li>
                <li><a class="" href="">Debate </a></li>
                <li><a class="" href="">Đấu trường toán học </a></li>
            </div>
            
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Sức khỏe </a></li>
            <div>
                <li><a class="" href="">Tin tức </a></li>
                <li><a class="" href="">Tư vấn </a></li>
                <li><a class="" href="">Dinh dưỡng </a></li>
                <li><a class="" href="">Khỏe đẹp </a></li>
                <li><a class="" href="">Đàn ông </a></li>
                <li><a class="" href="">Các bệnh </a></li>
                <li><a class="" href="">Ung thư </a></li>
                <li><a class="" href="">Vaccine </a></li>
            </div>           
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Đời sống </a></li>
            <div>
                <li><a class="" href="">Tổ ấm </a></li>
                <li><a class="" href="">Bài học sống </a></li>
                <li><a class="" href="">Nhà </a></li>
                <li><a class="" href="">Tiêu dùng </a></li>
                <li><a class="" href="">Cooking </a></li>
            </div>
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Du lịch </a></li>
            <div>
                <li><a class="" href="">Điểm đến </a></li>
                <li><a class="" href="">Dấu chân </a></li>
                <li><a class="" href="">Tư vấn </a></li>
                <li><a class="" href="">Safe Go </a></li>
                <li><a class="" href="">Ảnh </a></li>
                <li><a class="" href="">Ăn và chơi </a></li>
            </div>           
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Số hóa </a></li>
            <div>
                <li><a class="" href="">Công nghệ </a></li>
            <li><a class="" href="">Sản phẩm </a></li>
            <li><a class="" href="">Diễn đàn </a></li>
            <li><a class="" href="">Sản Phẩm Tôi Yêu </a></li>
            </div>
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Xe </a></li>
            <div>
                <li><a class="" href="">Thị trường </a></li>
                <li><a class="" href="">Tư vấn </a></li>
                <li><a class="" href="">Diễn đàn </a></li>
                <li><a class="" href="">Đánh giá </a></li>
                <li><a class="" href="">Video </a></li>
                <li><a class="" href="">Bảng giá ôtô </a></li>
                <li><a class="" href="">Xe điện </a></li>
                <li><a class="" href="">Cẩm nang mua xe </a></li>
                <li><a class="" href="">Thi bằng lái </a></li>
                <li><a class="" href="">Mua bán </a></li>
            </div>            
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Ý kiến </a></li>
            <div>
                <li><a class="" href="">Thời sự </a></li>
                <li><a class="" href="">Đời sống </a></li>
            </div>            
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Tâm sự </a></li>
            <div>
                <li><a class="" href="">Chuyên gia gỡ rối </a></li>
                <li><a class="" href="">Hẹn hò </a></li>
            </div>
        </ul>

        <ul class="header__item">
            <li><a class="" href="">Hài </a></li>
            <div>
                <li><a class="" href="">Cười </a></li>
                <li><a class="" href="">Đố vui </a></li>
                <li><a class="" href="">Chuyện lạ </a></li>
                <li><a class="" href="">Thú cưng </a></li>
            </div>            
        </ul>
    </div>
</div