<div class="container-xxl text-light">

    <div class="row header">

        <ul class="header__item"><a href="" class="text-light"><span class="oi oi-home"></span></a></ul>

        <ul class="header__item">
            <h4><a class="text-light" href="/thoi-su">Thời sự</a></h4>
            <li><a class="text-light" href="/thoi-su/chinh-tri">Chính trị</a></li>
            <li><a class="text-light" href="/thoi-su/dai-hoi-XIII">Đại hội XIII</a></li>
            <li><a class="text-light" href="/thoi-su/Mekong">Mekong</a></li>
            <li><a class="text-light" href="/thoi-su/dan-sinh">Dân sinh</a></li>
            <li><a class="text-light" href="/thoi-su/quy-hy-vong">Quỹ hy vọng</a></li>
        </ul>

    </div>
</div>